html, body {
    margin: 0;
    padding: 0;
    background: #393939;
    font-family: Arial;
}

#rc {
    position: absolute;
    color: #000;
    height: 100%;
    width: 100%;
    top: 50%;
    background: #5d5d5d;
    display: none;
}
#io_loader{
    position: absolute;
    height: 100%;
    width: 100%;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.sel-key {
    float: left;
    width: 9%;
    height: 27%;
    background: #f3eeef;
    position: absolute;
    left: -200px;
    cursor: pointer;
}
.sel-key.active{
    background: #cadfff;
}

#rc_key_UP {
    left: 13%;
    top: 6.5%;
}
#rc_key_LEFT {
    left: 2.6%;
    top: 36.7%;
}
#rc_key_RIGHT {
    left: 23.5%;
    top: 36.7%;
}
#rc_key_DOWN {
    left: 13%;
    top: 66.5%;
}
#rc_key_BLUE {
    left: 78%;
    top: 6.5%;
    background: #cadfff;
}
#rc_key_YELLOW {
    left: 67.6%;
    top: 36.7%;
    background: #ffefb4;
}

#rc_key_GREEN {
    left: 88.5%;
    top: 36.7%;
    background: #c3ffcb;
}
#rc_key_RED {
    left: 78%;
    top: 66.5%;
    background: #ffd3c2;
}
#rc_key_TOOLS {
    left: 41.6%;
    top: 45%;
}
#rc_key_ENTER {
    left: 52%;
    top: 45%;
}
