html, body {
    margin: 0;
    padding: 0;
    background: #393939;
}

#rc {
    position: absolute;
    left: 0;
    top: 0;
    color: #000;
    border: white solid 1px;
    height: 160px;
    width: 385px;
    margin: auto;
    background: #5d5d5d;
    left: 50%;
    top: 50%;
    margin-left: -192px;
    margin-top: -80px;
}

.sel-key {
    float: left;
    width: 35px;
    height: 43px;
    background: url("../img/b_bg.png") no-repeat;
    position: absolute;
    left: -200px;
    cursor: pointer;
}

.sel-key:hover {
    background-position: 0 -49px;
}

.sel-key:hover .selk-image {
    background-image: url("../img/b1_hover.png");
}

.selk-image {
    background: url("../img/b1.png") no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    width: 35px;
    height: 43px;
}

#rc_key_UP {
    left: 50px;
    top: 10px;
}

.selk-image_UP {
    background-position: -35px 9px;
}

#rc_key_LEFT {
    left: 10px;
    top: 58px;
}

.selk-image_LEFT {
    background-position: 4px -37px;
}

#rc_key_RIGHT {
    left: 90px;
    top: 58px;
}

.selk-image_RIGHT {
    background-position: -73px -37px;
}

#rc_key_DOWN {
    left: 50px;
    top: 106px;
}

.selk-image_DOWN {
    background-position: -35px -86px;
}

#rc_key_BLUE {
    left: 300px;
    top: 10px;
}

.selk-image_BLUE {
    background-position: -421px 9px;
}

#rc_key_YELLOW {
    left: 260px;
    top: 58px;
}

.selk-image_YELLOW {
    background-position: -382px 9px;
}

#rc_key_GREEN {
    left: 340px;
    top: 58px;
}

.selk-image_GREEN {
    background-position: -343px 9px;
}

#rc_key_RED {
    left: 300px;
    top: 106px;
}

.selk-image_RED {
    background-position: -304px 9px;
}

#rc_key_TOOLS {
    left: 160px;
    top: 68px;
}

.selk-image_TOOLS {
    background-position: 4px 9px;
}

#rc_key_ENTER {
    left: 200px;
    top: 68px;
}

.selk-image_ENTER {
    background-position: -35px -37px;
}